body {
    scroll-behavior: auto;
}
// header sticky
.rn-header.header--sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.rn-header.header--fixed {
    position: relative;
    top: 0;
    z-index: 999;
    width: 100%;
    transition: 0.3s;
}

.rn-header.header--fixed.sticky {
    background-color: #212428;
    box-shadow: var(--shadow-1);
    position: fixed;
    top: 0;
}

.rn-header.header--fixed.sticky {
    display: block;
}

.background--1 {
    background: var(--background-color-1);
}

.background--2 {
    background: var(--background-color-2);
}

.background--3 {
    background: var(--color-primary-alta);
}

textarea {
    &:focus {
        border: 2px solid var(--color-primary) !important;
        border-radius: 5px;
        box-shadow: none !important;
    }
}

.attachment {
    background-attachment: fixed;
}

.row-reverce-sm {
    @media #{$sm-layout} {
        flex-direction: column-reverse;
    }
}

a.over-link {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

// tooltip style
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.btn {
    &.rounded {
        border-radius: 33px !important;
    }
    &.add-community {
        padding: 20px 13px;
        border-radius: 6px;
        align-items: center;
        display: flex;
        justify-content: center;
        i {
            margin-left: 10px;
        }
    }
}

.social-share-style-1 {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-right: 10px;

            a {
                padding: 15px;
                background: var(--color-primary-alta);
            }
        }
    }
}

// grid system
.col-5 {
    @media only screen and (min-width: 1400px) {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%;
    }
}

p {
    color: var(--color-body);
}

a {
    transition: var(--transition);
    &:hover {
        color: var(--color-primary);
    }
}

.template-color-1 {
    background: var(--background-color-2);
}

.bg-color--3 {
    background: var(--background-color-3);
}

.bg-color--2 {
    background: var(--background-color-2);
}

.bg-color--1 {
    background: var(--background-color-1);
}

.g-6,
.gx-6 {
    --bs-gutter-x: 6rem;
}

.color-body {
    color: var(--color-body) !important;
}

.color-white {
    color: var(--color-white) !important;
}

// select box
.nice-select {
    margin-right: 0;
    border: none;
    background: var(--color-primary-alta);
    padding-left: 10px;
    -webkit-tap-highlight-color: transparent;
    border-radius: 5px;
    clear: both;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: 0;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    width: auto;
    min-width: fit-content;
    &:after {
        content: "";
        display: block;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform-origin: 66% 66%;
        transform: rotate(45deg);
        transition: all 0.15s ease-in-out;
        margin-top: -6px;
        width: 5px;
        height: 5px;
        right: 15px;
    }
    @media #{$small-mobile} {
        margin-bottom: 0;
    }
    .option {
        margin: 0;
        color: var(--color-white);
        font-weight: 700;
        transition: var(--transition);
        line-height: inherit;
        min-height: 0;
        font-size: 22px;
        padding: 8px 20px;
        cursor: pointer;
        list-style: none;
        outline: 0;
        text-align: left;

        &.selected {
            font-weight: 700;
            color: var(--color-primary) !important;
        }

        &.focus {
            background: transparent !important;
            outline: none;
            box-shadow: none;
        }

        &:hover {
            color: var(--color-primary);
            background: transparent;
        }

        & + .option {
            border-top: 1px solid var(--color-border);
        }
    }
    &.open {
        .list {
            background: var(--color-primary-alta);
            opacity: 1;
            pointer-events: auto;
            transform: scale(1) translateY(0);
        }
        &:after {
            transform: rotate(-135deg);
        }
    }
    .current {
        color: var(--color-white);
    }
    &::after {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        margin-top: -6px;
    }
    .list {
        background: transparent;
        min-width: 200px;
        border-radius: 5px;
        margin-top: 4px;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        transform-origin: 50% 0;
        transform: scale(0.75) translateY(-21px);
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
            opacity 0.15s ease-out;
        z-index: 9;
    }
}

.nice-selector-wrapper {
    .nice-select {
        &:last-child {
            margin-right: 0;
        }
    }
}

.color-primary {
    color: var(--color-primary) !important;
}

.color-red {
    color: red !important;
}

.color-blue {
    color: blue !important;
}

.color-green {
    color: green !important;
}

.color-yellow {
    color: yellow !important;
}

.color-pink {
    color: pink !important;
}

.color-purple {
    color: purple !important;
}

.color-maroon {
    color: maroon !important;
}

nav {
    &.pagination-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 0;
        &.single-column-blog {
            margin-top: 20px;
        }

        .pagination {
            transition: var(--transition);
            background: var(--background-color-1);
            border: 1px solid var(--color-border);
            border-radius: 6px;
            flex-wrap: wrap;
            li {
                margin: 0;
                a,
                button {
                    background: var(--background-color-1);
                    border: none;
                    color: var(--color-white);
                    padding: 12px 20px;
                    margin: 6px;
                    border-radius: 6px !important;
                    display: block;
                    width: auto;
                    @media #{$sm-layout} {
                        padding: 12px 14px;
                    }
                    &:hover,
                    &.active {
                        background: var(--color-primary);
                        color: var(--color-white) !important;
                    }
                    &:focus {
                        background: var(--color-primary);
                        border: none;
                        box-shadow: none;
                    }
                    &.disabled {
                        pointer-events: none;
                        cursor: not-allowed;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

.grid-metro-item-20 {
    width: 25%;
    padding: 0 15px;
    margin-top: 30px;
}

.grid-metro5 {
    margin: 0 -15px;
}

.up-plus {
    position: relative;

    &::after {
        position: absolute;
        content: "\e9b1";
        font-family: "feather" !important;
        top: -9px;
        color: var(--color-primary);
    }
}

.shortby-default {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media #{$large-mobile} {
        justify-content: flex-start;
    }
    .filter-leble {
        padding-right: 20px;
        display: inline-block;
    }
    .nice-select {
        width: auto;
        padding-left: 20px;
        padding-right: 40px;
        min-width: 150px;
        display: flex;
        align-items: center;
        &::after {
            right: 22px;
            height: 8px;
            width: 8px;
            opacity: 0.5;
        }
        .list {
            min-width: 100%;
            max-height: 300px;
            overflow-y: auto;
            @media #{$lg-layout} {
                left: auto;
                right: 0;
            }
            @media #{$md-layout} {
                left: auto;
                right: 0;
            }
            @media #{$sm-layout} {
                left: auto;
                right: 0;
            }
        }
    }
}
.inline-flex {
    display: inline-flex;
}
.hidden {
    display: none;
}
.isotope-list {
    display: grid;
    gap: 30px;
}
.item-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    @media #{$lg-layout} {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media #{$md-layout} {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media #{$sm-layout} {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media #{$large-mobile} {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
.item-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    @media #{$laptop-device2} {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media #{$lg-layout} {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media #{$md-layout} {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media #{$sm-layout} {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media #{$large-mobile} {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.maintanence-area {
    @media screen and (min-width: 767px) {
        overflow: hidden;
        max-height: 100vh;
    }
}

.Toastify__close-button {
    flex: 1;
}
.container {
    padding: 2px 16px;
}
.max-fit-content {
    max-width: fit-content;
}
.theme-color {
    color: var(--color-primary);
}
