/*--------------------------
    51. Category
----------------------------*/

.category-style-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-color-1);
    padding: 25px;
    border-radius: 6px;
    border: 1px solid var(--color-border);
    i {
        font-size: 40px;
        transition: var(--transition);
    }
    span {
        &.category-label {
            font-size: 16px;
            margin-top: 7px;
            transition: var(--transition);
            color: var(--color-body);
        }
    }
    &:hover {
        background: var(--color-primary);
        i {
            color: var(--color-white);
        }
        span {
            &.category-label {
                color: var(--color-white);
            }
        }
    }
}
