.date-picker-custom {
    color: red;

    label {
        color: white !important;
    }

    .MuiInputBase-formControl {
        color: white !important;
        border: 1px solid white;
    }

    .MuiIconButton-root {
        color: white !important;
    }

    .MuiOutlinedInput-notchedOutline {
        border: 0px !important;
    }
}
