/*--------------------------
    56. Forum
----------------------------*/

.forum-left {
    padding-right: 100px;
}

.forum-search {
    .input-group {
        max-width: inherit;
        position: relative;
        input {
            background: var(--background-color-2);
            height: 50px;
            border-radius: 6px 10px 10px 6px !important;
            color: var(--color-white);
            font-size: 14px;
            padding: 10px 20px;
            transition: 0.3s;
            &:focus {
                box-shadow: none;
                z-index: 1;
            }
        }
        .input-group-append {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            button {
                padding: 13px 15px;
                border-radius: 0 6px 6px 0;
            }
        }
    }
}

.community-content-wrapper {
    ul {
        border-bottom: none;
        display: flex;
        flex-wrap: wrap;
        transition: var(--transition);
        background: var(--background-color-1);
        border: 1px solid var(--color-border);
        border-radius: 6px;
        margin: 0;
        margin-bottom: 30px;
        li {
            margin: 0;
            button {
                width: 150px;
                height: 50px;
                border: none;
                color: var(--color-white);
                position: relative;
                margin: 6px !important;
                border-radius: 6px;
                border: 1px dashed var(--color-border) !important;
                transition: 0.3s;
                &.active {
                    background: var(--color-primary-alta) !important;
                    color: var(--color-white) !important;
                    border-radius: 5px;
                    border-color: transparent !important;
                }
                &:hover {
                    color: var(--color-white);
                    border-radius: 5px;
                    border: 1px dashed var(--color-white) !important;
                }
                &:focus {
                    background: var(--color-primary-alta);
                    color: var(--color-white);
                    border-radius: 5px;
                    border-color: transparent;
                }
            }
        }
    }
}

// single Community box style
.single-community-box {
    padding: 30px;
    background: var(--background-color-1);
    border-radius: 8px;
    border: 1px solid var(--color-border);
    .community-bx-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media #{$large-mobile} {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .header-left {
            display: flex;
            align-items: center;
            @media #{$large-mobile} {
                margin-bottom: 10px;
            }
            .thumbnail {
                margin-right: 15px;
                img {
                    border-radius: 50%;
                    border: 3px solid var(--color-border);
                    max-width: 73px;
                }
            }
            .name-date {
                display: flex;
                flex-direction: column;
                a {
                    &.name {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .header-right {
            .product-share-wrapper {
                margin-top: 0;
            }
        }
    }
    .community-content {
        margin-top: 30px;
        .title {
            margin-bottom: 15px;
        }
        .desc {
            margin-bottom: 15px;
        }
        img {
            &.community-img {
                margin-bottom: 15px;
                border-radius: 6px;
            }
        }
        .tags {
            background-color: var(--color-primary-alta);
            color: var(--color-white);
            padding: 6px 16px;
            border-radius: 6px;
            font-size: 13px;
            font-weight: 500;
            border: solid 1px #0a21410d;
            width: fit-content;
            margin-bottom: 20px;
            span {
                margin-right: 7px;
            }
        }
        .hr {
            height: 1px;
            width: 100%;
            background: var(--color-border);
            margin-bottom: 20px;
        }
    }
    .rn-community-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media #{$sm-layout} {
            justify-content: center;
            flex-wrap: wrap;
        }
        .community-reaction {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            a {
                i {
                    padding: 4px 6px;
                    background: var(--color-primary-alta);
                    border-radius: 4px;
                    transition: var(--transition);
                    &:hover {
                        background: var(--color-primary);
                    }
                }
            }
            @media #{$sm-layout} {
                margin-bottom: 20px;
                justify-content: center;
            }
            .likes {
                margin-right: 15px;
                display: flex;
                align-items: center;
                i {
                    color: var(--color-white);
                    margin-right: 7px;
                }
                span {
                    color: var(--color-body);
                    transition: var(--transition);
                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
            .comments {
                margin-right: 15px;
                display: flex;
                align-items: center;
                i {
                    margin-right: 7px;
                    color: var(--color-white);
                }
                span {
                    color: var(--color-body);
                    &:hover {
                        color: var(--color-primary);
                        transition: var(--transition);
                    }
                }
            }
            .views {
                margin-right: 15px;
                display: flex;
                align-items: center;
                i {
                    margin-right: 7px;
                }
            }
            .time {
                display: flex;
                align-items: center;
                i {
                    margin-right: 7px;
                }
            }
        }
    }
}

.forum-input-ans-wrapper {
    display: flex;
    margin-top: 30px;
    padding: 30px;
    background: var(--background-color-1);
    border-radius: 8px;
    border: 1px solid var(--color-border);
    align-items: center;
    @media #{$small-mobile} {
        flex-direction: column;
        justify-content: center;
    }
    .forum-input-ans-author-img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 2px solid var(--color-border);
        margin-right: 20px;
        @media #{$small-mobile} {
            height: 100px;
            width: 100px;
            margin-bottom: 15px;
            margin-right: 0;
            border-radius: 6px;
        }
        img {
            border-radius: 50%;
        }
    }
    input {
        background: var(--background-color-2);
        height: 50px;
        border-radius: 6px 10px 10px 6px !important;
        color: var(--color-white);
        font-size: 14px;
        padding: 10px 20px;
        transition: 0.3s;
        @media #{$small-mobile} {
            margin-bottom: 15px;
            margin-right: 0;
        }
    }
    button {
        margin-left: 20px;
        @media #{$small-mobile} {
            margin-left: 0;
        }
    }
}

.forum-ans-box {
    margin-top: 30px;
    padding: 30px;
    background: var(--background-color-1);
    border-radius: 8px;
    border: 1px solid var(--color-border);
    align-items: center;
}

.forum-single-ans {
    .ans-header {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        &-author {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            border: 2px solid var(--color-border);
            margin-right: 10px;
            display: inline-block;
            img {
                border-radius: 50%;
            }
        }
        p {
            &.name {
                margin-bottom: 0;
                color: var(--color-primary);
                font-weight: 600;
                margin-right: 10px;
            }
        }
    }
    .ans-content {
        p {
            margin-bottom: 25px;
        }
        .reaction {
            display: flex;
            align-items: center;
            .like {
                margin-right: 15px;
                color: var(--color-body);
                i {
                    margin-right: 5px;
                    color: var(--color-primary);
                    cursor: pointer;
                }
            }
            .dislike {
                margin-right: 15px;
                color: var(--color-body);
                i {
                    margin-right: 5px;
                    color: var(--color-primary);
                    cursor: pointer;
                }
            }
        }
    }
}

hr {
    &.form-ans-separator {
        height: 1px;
        width: 100%;
        background: var(--color-border);
        margin-top: 20px !important;
        opacity: 1;
    }
}
