.input-range {
    .slider-track-container {
        height: 4px;
        border-radius: 5px;
    }
    .slider-thumb {
        width: 10px;
        height: 10px;
        background: var(--color-primary);
        border-radius: 50%;
        margin-top: -3px;
        transition: left 0.3s ease-out, width 0.3s ease-out;
    }
}
