/*-------------------------
    Section Title
--------------------------*/
.section-title {
    display: flex;
    align-items: baseline;
    h3 {
        margin-right: 4px;
    }
}

.ordinals-counter {
    font-size: 12px;
}
