#sign-message {
    .form {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .form-action {
        display: flex;
        flex-direction: row-reverse;
    }
    .form-control {
        background: var(--background-color-1);
        border-radius: 5px;
        border: 2px solid transparent;
        font-size: 1.5rem;
        color: var(--color-white);
        width: 100%;

        &:focus {
            border: 2px solid var(--color-primary);
        }
    }

    .signed-message-result {
    }
}
