/*--------------------------
    53. Subscribe
----------------------------*/

.subscribe-wrapper_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 50px;
    border-radius: 6px;
    border: 10px solid var(--background-color-1);
    @media #{$small-mobile} {
        padding: 30px 8px;
    }
    .subscribe-input-wrapper {
        margin-top: 30px;
        .input-group {
            max-width: max-content;
            input {
                width: 450px;
                background: var(--background-color-2);
                border: 1px solid var(--color-border);
                border-radius: 6px 0 0 6px;
                color: var(--color-body);
                padding-right: 110px;
                @media #{$sm-layout} {
                    width: 250px;
                }
                @media #{$large-mobile} {
                    width: 190px;
                }
                @media #{$small-mobile} {
                    width: 236px;
                }
                &:focus {
                    box-shadow: none;
                    border: 1px solid var(--color-primary);
                }
            }
            .input-group-append {
                button {
                    margin-left: -98px;
                    position: relative;
                    z-index: 100000;
                    max-width: max-content;
                    border-radius: 0 6px 6px 0;
                    @media #{$small-mobile} {
                        margin-left: -107px;
                    }
                }
            }
        }
        [data-black-overlay]:before {
            border-radius: 6px;
        }
    }
}
