.wallet {
    .wallet-title {
        display: flex;
        align-items: baseline;
    }

    .balance-info {
        .price {
            color: var(--color-primary);
        }
    }
}

.ordinal-checkbox {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .ordinal-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #333;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: white;
  }
  
  .ordinal-checkbox input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  
  .ordinal-checkbox input[type="checkbox"]:checked:after {
    content: '\2714';
    color: white;
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 16px;
  }